<!DOCTYPE html>
<html lang="en">

<head>
    <title>Artikel_1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script type="javascript">
        $(document).ready(function() {
                $(".dropdown-toggle").dropdown();
            });
        </script>
    <style>
        .dropdown {
            margin-top: 10%;
            margin-right: 5%;
            margin-left: 35%;
        }

        .dropdown-toggle {
            width: 400px;
            height: 80px;
            background-color: #FEA5A5;
            border-color: #BE4C4C;
        }

        .dropdown-menu {
            background-color: aliceblue;
            border-color: #BE4C4C;
            width: 400px;
            height: auto;
        }
    </style>
</head>

<body style="font-family: 'Raleway', sans-serif;">

    <div class="d-flex p-2" style="height: 450px;	background-color: #FEA5A5; margin: 0px; align-items: left;">
        <div class="container" style="margin: 7% 0% 0% 5%; height: 300px; ">
            <div class="row">
                <div class="col-sm">
                    <img src="/public/video/Anak/help.jpg"
                        style="height: 400px; width: auto; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                </div>
                <div class="col-sm-4">
                    <h1 style="text-align: left; font-size: 30px; font-weight: bolder;">
                        MENOLONG DARI BULLYING
                    </h1>
                    <p1 style="font-size: 14px; align-items: left;">
                        Penulis : Amaze.org
                    </p1>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container" style="margin-left: 5%;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div style="padding-top: 5rem; text-align: justify; ">
                        <h5 style="font-weight: bolder;">Segmen Artikel</h5>
                        <div class="dropdown-divider" style="border-color: #BE4C4C;"></div>
                        <h7>
                            Berurusan dengan penindas benar-benar tidak menyenangkan, dan mungkin sulit untuk mengetahui
                            apa yang harus dilakukan ketika seseorang menindas seorang teman. Anda tidak harus menjadi
                            pahlawan super untuk mendukung teman yang ditindas.
                            Menjadi petinggi saja bisa sangat bermanfaat. Seorang upstander adalah seseorang yang
                            membela orang lain ketika mereka melihat bullying terjadi.Ada empat cara berbeda untuk
                            menjadi upstander yang baik: menjadi teman, menyela si penindas,
                            berbicara dan memberi tahu seseorang. Penindas sering kali menargetkan orang yang mereka
                            yakini sendirian dan tidak punya teman. Menjadi teman bagi orang yang di-bully membuat si
                            penindas tahu bahwa korbannya tidak sendiri dan mendapat dukungan.
                            Terkadang orang akan menindas orang lain hanya untuk mendapatkan perhatian, jadi jika itu
                            terjadi, Anda dapat menyela mereka dengan membantu mengalihkan perhatian semua orang ke
                            sesuatu yang lebih positif. Jika menurut Anda aman,
                            Anda dapat berbicara langsung dengan pelaku intimidasi dan meminta mereka untuk
                            menghentikannya. Jika Anda khawatir penindas akan membalas Anda, cari orang dewasa terdekat
                            yang dapat turun tangan dan beri tahu mereka apa yang terjadi.
                            Orang yang mendukung sangat penting dalam membantu dengan cepat mengakhiri perilaku yang
                            sedang berlangsung, agresif, kasar, dan berbahaya.
                            Anda bisa menjadi petinggi di mana saja — baik secara langsung atau online. Dan sekali lagi,
                            jika Anda membutuhkan bantuan, jangan takut untuk bertanya kepada orang dewasa yang Anda
                            percayai.
                        </h7>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="dropdown">
                        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="font-size: 20px; background-color: #FEA5A5; color: black;">
                            Fakta A
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <p1>
                                seseorang membully orang lain karena berbagai alasan.
                                Seringkali mereka melakukannya karena mereka merasa tidak aman,
                                dan mereka merendahkan orang lain untuk mencoba dan merasa lebih baik
                                tentang diri mereka sendiri.
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="font-size: 20px; background-color: #FEA5A5; color: black;">
                            Fakta B
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <p1>
                                Bersikap jahat kepada penindas dapat membuat kamu merasa baik dalam jangka pendek;
                                namun, itu tidak menjamin bahwa bullying akan berhenti.
                                Faktanya, bersikap jahat kepada seorang penindas mungkin hanya membuat mereka
                                merasa memiliki lebih banyak alasan untuk menjadi jahat.
                                Jika kamu khawatir tentang cara menangani penindas, bicarakan dengan orang dewasa
                                yang kamu percayai tentang cara menghadapi situasi tersebut.
                            </p1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>

</html>