<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Artikel_1</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="javascript">
            $(document).ready(function() {
                $(".dropdown-toggle").dropdown();
            });
        </script>
        <style>
            .dropdown{
                margin-top: 10%;
                margin-right: 5%;
                margin-left: 35%;
            }
            .dropdown-toggle{
                width: 400px;
                height: 80px;
                background-color: #FEA5A5;
                border-color: #BE4C4C;
            }
            .dropdown-menu{
                background-color: aliceblue;
                border-color: #BE4C4C;
                width: 400px;
                height: auto;
            }
            
        </style>
    </head>
<body style="font-family: 'Raleway', sans-serif;>
    <div class="d-flex p-2" style="height: 450px;	background-color: #FEA5A5; margin: 0px; align-items: left;">
        <div class="container" style="margin-top: 6%;  margin-left: 5%; height: 300px; width: 400px; float: right;">
            <img src="/public/video/Anak/help.jpg" style="height: 400px; width: auto;">
        </div>
        <div class="container" style="margin-top: 16%; margin-right: 20%; height: 300px; width: 400px; float: left;">
            <h1 style="text-align: left; font-size: 30px;">RAGAM KELUARGA
            </h1>
            <p1 style="font-size: 14px; align-items: left;">
                Penulis : Amaze.org
            </p1>
        </div>
    </div>
    <br>
    <div class="container" style="margin-left: 5%; margin-top: 5%;">
        <h5>
            Segmen Artikel
        </h5>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="container" style="width: 600px; height: auto; margin-left: 2%; margin-top: 5%;">
                        <p1>
                            Berurusan dengan penindas benar-benar tidak menyenangkan, dan mungkin sulit untuk mengetahui apa yang harus dilakukan ketika seseorang menindas seorang teman. Anda tidak harus menjadi pahlawan super untuk mendukung teman yang ditindas. 
                            Menjadi petinggi saja bisa sangat bermanfaat. Seorang upstander adalah seseorang yang membela orang lain ketika mereka melihat bullying terjadi.Ada empat cara berbeda untuk menjadi upstander yang baik: menjadi teman, menyela si penindas, 
                            berbicara dan memberi tahu seseorang. Penindas sering kali menargetkan orang yang mereka yakini sendirian dan tidak punya teman. Menjadi teman bagi orang yang di-bully membuat si penindas tahu bahwa korbannya tidak sendiri dan mendapat dukungan. 
                            Terkadang orang akan menindas orang lain hanya untuk mendapatkan perhatian, jadi jika itu terjadi, Anda dapat menyela mereka dengan membantu mengalihkan perhatian semua orang ke sesuatu yang lebih positif. Jika menurut Anda aman, 
                            Anda dapat berbicara langsung dengan pelaku intimidasi dan meminta mereka untuk menghentikannya. Jika Anda khawatir penindas akan membalas Anda, cari orang dewasa terdekat yang dapat turun tangan dan beri tahu mereka apa yang terjadi.
                            Orang yang mendukung sangat penting dalam membantu dengan cepat mengakhiri perilaku yang sedang berlangsung, agresif, kasar, dan berbahaya. 
                            Anda bisa menjadi petinggi di mana saja — baik secara langsung atau online. Dan sekali lagi, jika Anda membutuhkan bantuan, jangan takut untuk bertanya kepada orang dewasa yang Anda percayai.
                        </p1>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 20px;">
                            Fakta A
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <p1>
                                
                            </p1>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 20px;">
                            Fakta B
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <p1>
                                
                            </p1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    
    
</body>
</html>