<!DOCTYPE html>
<html lang="en">
<head>
    <title>Menu Utama</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <style>
        .d-flex{
            height: 450px;	
            background-color: #FEA5A5; 
            margin: 0px; 
            align-items: left;
        }
        .col-sm{
            margin-left: 5%;
            margin-right: 5%;
        }
    </style>
</head>
<body>
    <div class="d-flex p-2">
        <div class="container" style="margin-top: 9%; margin-left: 5%; height: 300px; width: 800px; float: left;">
            <h1 style="text-align: left; font-size: 30px;">TENTANG E-SECTION
            </h1>
            <p1 style="font-size: 14px; align-items: left;">
                E-Section merupakan web yang bertujuan membantu mengedukasi 
                masyarakat umum mengenai segala materi yang berhubungan 
                dengan pendidikan seksual
            </p1>
        </div>
        <div class="container" style=" margin-left: 30%; float: right;">
            <img src="app/logo.png" style="width: 595px; height: 382px;">
        </div>
    </div>
    <br>
    <div class="container" style="width: auto; height: 400px;">
        <div class="row">
            <div class="col-sm" style="background-color: #FEA5A5; width: 800px;">
                <div class="row">
                    <div class="col-sm" style="float: left;">
                        <div class="card">
                            <h5 class="card-title" style="background-color: #BE4C4C; color: aliceblue; text-align: center;">Judul</h5>
                            <img class="card-img-top" src="/public/video/Anak/Bully.jpg" alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-sm" style="float: right;">
                        <div class="card">
                            <h5 class="card-title" style="background-color: #BE4C4C; color: aliceblue; text-align: center;">Judul</h5>
                            <img class="card-img-top" src="Video/1.jpg" alt="Card image cap">
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-sm" style="background-color: #FEA5A5">
                <div class="media">
                    <img class="mr-3" src="/public/video/Anak/Bully.jpg">
                    <div class="media-body">
                        <h5 class="mt-0">Judul</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
        

    
</body>
</html>