<!DOCTYPE html>
<html lang="en">

<head>
    <title>Menu Test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <style>
        .isi {
            margin: 0px 3px 3px 10px;
            color: #BE4C4C;
        }
    </style>
</head>

<body style="font-family: 'Raleway', sans-serif;">
    <div class="d-flex p-2" style="height: 450px;	background-color: #FEA5A5; margin: 0px; align-items: left;">
        <div class="container" style="margin-top: 9%; margin-left: 5%; height: 300px; width: 400px; float: left;">
            <h1 style="text-align: left; font-size: 30px;">TEST
            </h1>
            <p1 style="font-size: 14px; align-items: left;">
                E-Section menyediakan serangkaian test yang
                mencangkup berbagai topik mulai dari hubungan
                sehat hingga kesehatan mental
            </p1>
        </div>
        <div class="container" style="margin-top: 5%;margin-right: 15%; height: 300px; width: 400px; float: right;">
            <img src="/public/img/A4.png" style="width: auto; height: 320px;">
        </div>
    </div>
    <br>
    <div class="d-flex p-2"
        style="background-color: #EEEEEE; align-items: left; margin-left: 10%; margin-right:  10%; margin-bottom: 5%;">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 20rem; margin: 30px 1px 30px 1px;">
                        <a href="#" style="background-color: #BE4C4C; color: aliceblue; text-align: center;">Tes ADHD
                        </a>
                        <p2 class="isi">
                            Cari tahu apakah Anda mengalami gejala ADHD yang paling umum.
                        </p2>
                        <div class="card-body" style="background-color: #FEA5A5;">
                            <p p class="card-text">
                                Tag:
                            <div class="container"
                                style="background-color: #BE4C4C; width: max-content; height: auto;   float: left;">
                                <p1 style="color: #EEEEEE;">ADHD</p1>
                            </div>
                            </p>
                        </div>
                    </div>
                    <div class="card" style="width: 20rem; margin: 30px 1px 30px 1px;">
                        <a href="#" style="background-color: #BE4C4C; color: aliceblue; text-align: center;">Tes
                            Kecemasan
                        </a>
                        <p2 class="isi">
                            Cari tahu apakah Anda mengalami gejala kecemasan.
                        </p2>
                        <div class="card-body" style="background-color: #FEA5A5;">
                            <p p class="card-text">
                                Tag:
                            <div class="container"
                                style="background-color: #BE4C4C; width: max-content; height: auto;   float: left;">
                                <p1 style="color: #EEEEEE;">Kecemasan</p1>
                            </div>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-sm">
                    <div class="card" style="width: 20rem; margin: 30px 1px 30px 1px;">
                        <a href="#" style="background-color: #BE4C4C; color: aliceblue; text-align: center;">Tes Bipolar
                        </a>
                        <p2 class="isi">
                            Cari tahu apakah Anda mengalami gejala Bipolar yang paling umum.
                        </p2>
                        <div class="card-body" style="background-color: #FEA5A5;">
                            <p p class="card-text">
                                Tag:
                            <div class="container"
                                style="background-color: #BE4C4C; width: max-content; height: auto;   float: left;">
                                <p1 style="color: #EEEEEE;">Bipolar</p1>
                            </div>
                            </p>
                        </div>
                    </div>
                    <div class="card" style="width: 20rem; margin: 30px 1px 30px 1px;">
                        <a href="#" style="background-color: #BE4C4C; color: aliceblue; text-align: center;">Tes Trauma
                            Seksual
                        </a>
                        <p2 class="isi">
                            Cari tahu apakah Anda memiliki Trauma akibat kekerasan/pelecehan seksual yang pernah alami
                        </p2>
                        <div class="card-body" style="background-color: #FEA5A5;">
                            <p p class="card-text">
                                Tag:
                            <div class="container"
                                style="background-color: #BE4C4C; width: max-content; height: auto;   float: left;">
                                <p1 style="color: #EEEEEE;">Trauma</p1>
                            </div>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-sm">
                    <div class="card" style="width: 20rem; margin: 30px 1px 30px 1px;">
                        <a href="#" style="background-color: #BE4C4C; color: aliceblue; text-align: center;">Tes Depresi
                        </a>
                        <p2 class="isi">
                            Cari tahu apakah Anda mengalami gejala Depresi yang paling umum.
                        </p2>
                        <div class="card-body" style="background-color: #FEA5A5;">
                            <p p class="card-text">
                                Tag:
                            <div class="container"
                                style="background-color: #BE4C4C; width: max-content; height: auto;   float: left;">
                                <p1 style="color: #EEEEEE;">Depresi</p1>
                            </div>
                            </p>
                        </div>
                    </div>
                    <div class="card" style="width: 20rem; margin: 30px 1px 30px 1px;">
                        <a href="#" style="background-color: #BE4C4C; color: aliceblue; text-align: center;">Tes Bulimia
                        </a>
                        <p2 class="isi">
                            Cari tahu apakah Anda memiliki gejala Bulimia Nervosa yang paling umum.
                        </p2>
                        <div class="card-body" style="background-color: #FEA5A5;">
                            <p p class="card-text">
                                Tag:
                            <div class="container"
                                style="background-color: #BE4C4C; width: max-content; height: auto;   float: left;">
                                <p1 style="color: #EEEEEE;">Bulimia</p1>
                            </div>
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</body>

</html>