<!DOCTYPE html>
<html lang="en">

<head>
    <title>Menu Anak</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet" />
    <style>
        .btn.btn-primary {
            background-color: #be4c4c;
            border-color: #eeeeee;
        }

        p.card-text {
            font-weight: bold;
        }
    </style>
</head>

<body style="font-family: 'Raleway', sans-serif">
    <div class="d-flex p-2" style="
        height: 450px;
        background-color: #fea5a5;
        margin: 0px;
        align-items: left;
      ">
        <div class="container" style="
          margin-top: 9%;
          margin-left: 5%;
          height: 300px;
          width: 400px;
          float: left;
        ">
            <h1 style="text-align: left; font-size: 30px">MENU ANAK-ANAK</h1>
            <p1 style="font-size: 14px; align-items: left">
                E-Section menyediakan serangkaian video dan artikel edukasi yang
                bertujuan untuk mengenalkan dan mengajarkan anak-anak tentang pubertas
                dan hubungan sehat
            </p1>
        </div>
        <div class="container" style="
          margin-top: 5%;
          margin-right: 10%;
          height: 300px;
          width: 400px;
          float: right;
        ">
            <img src="/public/img/A1.png" style="width: 300px; height: 300px" />
        </div>
    </div>
    <br />
    <div class="d-flex p-2" style="
        background-color: #eeeeee;
        align-items: left;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
      ">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 20rem; margin: 30px 1px 30px 1px">
                        <a href="#" style="
                  background-color: #be4c4c;
                  color: aliceblue;
                  text-align: center;
                ">Apa Itu Bullying?
                        </a>
                        <img class="card-img-top" src="/public/video/Anak/Bully.jpg" alt="Card image cap" />
                        <div class="card-body" style="background-color: #fea5a5">
                            <p p class="card-text">
                                Tag:
                                <br />
                                <a class="btn btn-primary" href="#" role="button">Bullying</a>
                            </p>
                        </div>
                    </div>
                    <div class="card" style="width: 20rem; margin: 30px 1px 30px 1px">
                        <a href="#" style="
                  background-color: #be4c4c;
                  color: aliceblue;
                  text-align: center;
                ">Aman Berinternet
                        </a>
                        <img class="card-img-top" src="/public/video/Anak/Video.jpg" alt="Card image cap" />
                        <div class="card-body" style="background-color: #fea5a5">
                            <p p class="card-text">
                                Tag:
                                <br />
                                <a class="btn btn-primary" href="#" role="button">Keselamatan diri</a>
                            </p>
                        </div>
                    </div>
                    <div class="card" style="width: 20rem; margin: 30px 1px 30px 1px">
                        <a href="#" style="
                  background-color: #be4c4c;
                  color: aliceblue;
                  text-align: center;
                ">Membantu Dari Bully Dengan Aman
                        </a>
                        <img class="card-img-top" src="/public/video/Anak/help.jpg" alt="Card image cap" />
                        <div class="card-body" style="background-color: #fea5a5">
                            <p p class="card-text">
                                Tag:
                                <br />
                                <a class="btn btn-primary" href="#" role="button">Bullying</a>
                                <a class="btn btn-primary" href="#" role="button">Keselamatan Diri</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 20rem; margin: 30px 1px 30px 1px">
                        <a href="#" style="
                  background-color: #be4c4c;
                  color: aliceblue;
                  text-align: center;
                ">Penolakan Terjadi Pada Semua Orang
                        </a>
                        <img class="card-img-top" src="/public/video/Anak/rejection.jpg" alt="Card image cap" />
                        <div class="card-body" style="background-color: #fea5a5">
                            <p p class="card-text">
                                Tag:
                                <br />
                                <a class="btn btn-primary" href="#" role="button">Hubungan Sehat</a>
                            </p>
                        </div>
                    </div>
                    <div class="card" style="width: 20rem; margin: 30px 1px 30px 1px">
                        <a href="#" style="
                  background-color: #be4c4c;
                  color: aliceblue;
                  text-align: center;
                ">Sedih dan Senang
                        </a>
                        <img class="card-img-top" src="/public/video/Anak/SH.jpg" alt="Card image cap" />
                        <div class="card-body" style="background-color: #fea5a5">
                            <p p class="card-text">
                                Tag:
                                <br />
                                <a class="btn btn-primary" href="#" role="button">Intrapersonal</a>
                            </p>
                        </div>
                    </div>
                    <div class="card" style="width: 20rem; margin: 30px 1px 30px 1px">
                        <a href="#" style="
                  background-color: #be4c4c;
                  color: aliceblue;
                  text-align: center;
                ">Menyelesaikan Konflik
                        </a>
                        <img class="card-img-top" src="/public/video/Anak/Conflict.jpg" alt="Card image cap" />
                        <div class="card-body" style="background-color: #fea5a5">
                            <p p class="card-text">
                                Tag:
                                <br />
                                <a class="btn btn-primary" href="#" role="button">Hubungan Sehat</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 20rem; margin: 30px 1px 30px 1px">
                        <a href="#" style="
                  background-color: #be4c4c;
                  color: aliceblue;
                  text-align: center;
                ">Apa Itu Gender?
                        </a>
                        <img class="card-img-top" src="/public/video/Anak/gender.jpg" alt="Card image cap" />
                        <div class="card-body" style="background-color: #fea5a5">
                            <p p class="card-text">
                                Tag:
                                <br />
                                <a class="btn btn-primary" href="#" role="button">Intrapersonal</a>
                            </p>
                        </div>
                    </div>
                    <div class="card" style="width: 20rem; margin: 30px 1px 30px 1px">
                        <a href="#" style="
                  background-color: #be4c4c;
                  color: aliceblue;
                  text-align: center;
                ">Candaan
                        </a>
                        <img class="card-img-top" src="/public/video/Anak/Teasing.jpg" alt="Card image cap" />
                        <div class="card-body" style="background-color: #fea5a5">
                            <p p class="card-text">
                                Tag:
                                <br />
                                <a class="btn btn-primary" href="#" role="button">Hubungan Sehat</a>
                            </p>
                        </div>
                    </div>
                    <div class="card" style="width: 20rem; margin: 30px 1px 30px 1px">
                        <a href="#" style="
                  background-color: #be4c4c;
                  color: aliceblue;
                  text-align: center;
                ">Ragam Keluarga
                        </a>
                        <img class="card-img-top" src="/public/video/Anak/family.jpg" alt="Card image cap" />
                        <div class="card-body" style="background-color: #fea5a5">
                            <p p class="card-text">
                                Tag:
                                <br />
                                <a class="btn btn-primary" href="#" role="button">Keluarga</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>