<!DOCTYPE html>
<html lang="en">

<head>
    <title>profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script type="javascript">
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (event) {
                event.target // newly activated tab
                event.relatedTarget // previous active tab
            })
        </script>
    <style>
        .circle {
            background-color: aliceblue;
            width: 250px;
            height: 250px;
            align-items: center;
            border-radius: 50%;
            border: 3px solid #BE4C4C;
            margin-top: 125px;
            margin-left: 40%;
        }

        .nav-item:active,
        .nav-item:hover {
            background-color: #FEA5A5;
        }

        .active {
            background-color: #EEEEEE !important;
            border-color: #BE4C4C !important;
        }
    </style>
</head>

<body style="font-family: 'Raleway', sans-serif;">
    <div class="d-flex p-2" style="height: 250px;	background-color: #FEA5A5; margin: 0px; align-items: left;">
        <div class="circle" style="margin-left: 41%;">
        </div>
    </div>
    <br>
    <div style="margin-top: 125px; margin-left: -3%; font-weight: bolder; text-align: center; color: #BE4C4C;">
        <h5>
            @Sarah_33
        </h5>
    </div>
    <div class="container" style="width: 800px; margin-bottom: 5%;">
        <ul class="nav nav-tabs" style="background-color: #EEEEEE; width: fit-content;">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#profile" style="color: #BE4C4C">PROFILE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tes" style="color: #BE4C4C">TES</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile"
                style="border:2px solid#BE4C4C;">
                <div class="container"
                    style="width: 360px; height: 40px; border:1px solid#BE4C4C; margin: 30px 30px 30px 30px; background-color: white;">
                    <p3>Tanggal Lahir</p3>
                </div>
                <div class="container"
                    style="width: 360px; height: 40px; border:1px solid#BE4C4C; margin: 30px 30px 30px 30px; background-color: white;">
                    <p3>Email</p3>
                </div>
                <button type="button" class="btn btn-danger"
                    style="background-color: #BE4C4C; margin: 0px 0px 10px 30px">
                    Edit Profile
                </button>
            </div>
            <div class="tab-pane fade " id="tes" role="tabpanel" aria-labelledby="tes"
                style="border:2px solid#BE4C4C; background-color: #EEEEEE;">
                <h6 style="font-weight: bold; margin: 10px 10px 10px 10px">
                    <button type="button" class="btn btn-danger"
                        style="background-color: #fff; color:#BE4C4C; font-weight: bold;">
                        Tes Depresi
                    </button>
                </h6>
                <div class="container"
                    style="width: 360px; height: 40px; border:1px solid#BE4C4C; margin: 0px 10px 10px 10px; background-color: white; color: #BE4C4C;">
                    <p3>Diambil Pada 03-05-2021</p3>
                </div>
            </div>
        </div>
    </div>
</body>

</html>