<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tes Depresi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <style>
        input.btn-primary{
            width: 130px;
            margin: 10px 10px 0px 10px;
            background-color: aliceblue;
            color: black;
            border-color: #BE4C4C;
        }
    </style>
</head>
<body style="font-family: 'Raleway', sans-serif;">
    <div class="d-flex p-2" style="height: 300px;	background-color: #FEA5A5; margin: 0px; align-items: middle;">
        <div class="container" style="height: 300px; width: 400px;">
            <h1 class ="Judul"style="font-size: 30px; font-weight: bolder; margin: 150px 60px 100px 90px;">
                TES DEPRESI
            </h1>
        </div>
    </div>
    <br>
    <div class="d-flex p-2" style="background-color: #EEEEEE; align-items: left; margin-left: 10%; margin-right:  10%; margin-bottom: 5%;">
        <div class="container">
            <br>
            <div class="row" style="margin-left: 35%; width: 400px;">
                <div class="col-sm">
                    <div class="container" style="width: 70;">
                        <img src="/public/test/star 2.png" style="width: 50px; height: 50px;">
                        <p2>Intruksi</p2>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="container" style="width: 70px;">
                        <img src="/public/test/star 1.png" style="width: 50px; height: 50px;">
                        <p2 style="font-weight: bold; margin: 10px;">Tes</p2>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="container" style="width: 70px;">
                        <img src="/public/test/star 2.png" style="width: 50px; height: 50px;">
                        <p2 style="margin: 10px;">Hasil</p2>
                    </div>
                </div>
            </div>
            <br>
            <table class="table">
                    <tr  style="border-color: red;">
                        <th scope="row" style="width: 60px;">
                            <img src="/public/test/Kotak.png" style="width: 30px; height: auto;">
                        </th>
                        <td>
                            Saya merasakan kesedihan yang begitu mendalam dalam enam bulan terakhir
                            <br>
                            <input class="btn btn-primary" type="Sangat_Iya" value="Sangat Iya">
                            <input class="btn btn-primary" type="Iya" value="Iya">
                            <input class="btn btn-primary" type="Netral" value="Netral">
                            <input class="btn btn-primary" type="Tidak" value="Tidak">
                            <input class="btn btn-primary" type="Sangat_Tidak" value="Sangat Tidak">
                        </td>
                        
                    </tr>
                    <tr>
                        <th scope="row">
                            <img src="/public/test/Kotak.png" style="width: 30px; height: auto;">
                        </th>
                        <td>
                            Ketika memikirkan masa depan, saya merasa putus atas
                            <br>
                            <input class="btn btn-primary" type="Sangat_Iya" value="Sangat Iya">
                            <input class="btn btn-primary" type="Iya" value="Iya">
                            <input class="btn btn-primary" type="Netral" value="Netral">
                            <input class="btn btn-primary" type="Tidak" value="Tidak">
                            <input class="btn btn-primary" type="Sangat_Tidak" value="Sangat Tidak">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <img src="/public/test/Kotak.png" style="width: 30px; height: auto;">
                        </th>
                        <td>
                            Saya merasa sebagai orang yang gagal
                            <br>
                            <input class="btn btn-primary" type="Sangat_Iya" value="Sangat Iya">
                            <input class="btn btn-primary" type="Iya" value="Iya">
                            <input class="btn btn-primary" type="Netral" value="Netral">
                            <input class="btn btn-primary" type="Tidak" value="Tidak">
                            <input class="btn btn-primary" type="Sangat_Tidak" value="Sangat Tidak">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <img src="/public/test/Kotak.png" style="width: 30px; height: auto;">
                        </th>
                        <td>
                            Saya merasa kecewa dan jijik dengan diri saya sendiri
                            <br>
                            <input class="btn btn-primary" type="Sangat_Iya" value="Sangat Iya">
                            <input class="btn btn-primary" type="Iya" value="Iya">
                            <input class="btn btn-primary" type="Netral" value="Netral">
                            <input class="btn btn-primary" type="Tidak" value="Tidak">
                            <input class="btn btn-primary" type="Sangat_Tidak" value="Sangat Tidak">
                        </td>
                    </tr>
            </table>
        </div>
    </div>
    <div class="container" style="margin-bottom: 5%;">
        <button class="btn btn-danger" style="background-color: #BE4C4C; font-weight: bold; margin-left: 90%;">Selanjutnya</button>
    </div>
</body>
</html>