<!DOCTYPE html>
<html>

<head>
    <title>log in</title>
    <link rel="stylesheet" type="text/css" href="/E-Section/public/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

<body style="font-family: 'Raleway', sans-serif">
    <div class="login-box">
        <h1 style="text-align: center; font-size: 22px; margin-top: -21%; margin-bottom: 80px;">Selamat Datang Kembali
        </h1>
        <form>
            <label style="font-size: 12px; text-align: left; margin-left: 6%; font-weight: bolder;">Username</label><br>
            <div class="login"><input type="text" name="Username" placeholder="Username"></div>
            <label style="font-size: 12px; text-align: left; margin-left: 6%; font-weight: bolder;">Password</label><br>
            <div class="login"><input type="Password" name="Password" placeholder="Password"></div>
            <input type="submit" name="submit" value="Login" style="margin-bottom: 80px;">
            <h style="margin-left:-20px; font-size: 12px; ">Belum Punya Akun ?</h>
            <a href="#">Daftar</a>
        </form>

    </div>
    <div class="float-right">
        <img src="/E-Section/public/img/login.png" style=" width: 600px; height: 400px;">
    </div>
</body>

</html>